@import 'bootstrap/dist/css/bootstrap.min.css';

.color-preview {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.status-icon {
  margin-right: 0.5rem;
}